AWS_REGION=us-east-1
AWS_ENDPOINT_URL=http://localhost:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
GAMES_TABLE=Games
ROUNDS_TABLE=Rounds
ODDS_TABLE=Odds
BETS_TABLE=Bets
COUNTERS_TABLE=Counters
ROUND_SHARD_COUNT=10
REFERENCE_CACHE_TTL_SECONDS=300
REFERENCE_CACHE_MAX_ENTRIES=10000
SIMULATED_WALLET_MAX_DEBIT=1000
LAMBDA_ROLE_ARN=arn:aws:iam::000000000000:role/place-bet-lambda
DYNAMO_ENDPOINT=http://localhost:4566
